body
{
    background-color: white;
    padding-bottom: 1000px;
}

.wall
{
    margin: auto;
    display: grid;
    width: auto;
    height: 500px;
    padding-top: 40px;
    row-gap: 5px;
    column-gap: 5px;
}

.button-div
{
    margin-top: 15px;
    text-align: center;
}

.generate
{
    padding: 10px 7px 10px 7px;
    background-color: rgb(46, 223, 164);
    border: none;
    font-weight: bold;
    width: 177px;
}

.generate:hover
{
    background-color: peru;
}

.generate:active
{
    background-color: aquamarine;
}

.user-input
{
    text-align: center;
}
